.about{
    background: linear-gradient(to bottom, var(--dark-gray), var(--black));
    color: var(--primary-color);
    text-indent: 2rem;
}

.about hr {
    border: none;
    border-top: 0.5px solid var(--secondary-color);
    height: 1px;
    margin: 2rem 2rem 0rem 2rem;
    /* width: calc(100% - 2rem); */
}

.about a {
    color: var(--primary-color);
    text-decoration: none;
}

.about a:visited,
.about a:active {
    color: var(--primary-color);
}
.about a:hover {
    color: var(--secondary-color);
}

.logo-header {
    display: flex;
    align-items: flex-end;
    gap: 0rem;
}

.inside{
    padding: 2rem;
    
}
.about-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.logo{
    width: 10%;
    height: auto;
    position: relative;
    top: 1rem;
    left: 1rem;
}